<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- INDIRIZZO SREVER CHE OSPITA IL PROXY SCRIVERE L'IP VISIBILE DALL'ESTERNO-->
    <add key="proxyIp" value="127.0.0.1"/>
    <add key="proxyPort" value="2598"/>
    <!-- INDIRIZZO SREVER DI ULTIMA ONLINE SE LOCALE SCRIVERE 127.0.0.1-->
    <add key="ultimaIp" value="93.57.96.39"/>
    <add key="ultimaPort" value="2593"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
